body{
    font-family: 'Montserrat';
}
.navbar-brand{
    font-weight: 500;
}
.home{
    background-color: #f0f5f9;
    padding: 150px 0 100px 0;
}
.about-card-image{
    width: 80px;
}
.results-img{
    width: 80px;
}
.reviews-container{
    background-color: #f0f5f9;
    padding: 100px 50px;
}